{% extends 'base.html' %}

{% block content %}
    <div class="row">
        {{ widget.gorillaml_custom_form(metadata) }}

        {% call widget.gcard(title='Classification algorithm comparison result', class='col-md-6') %}
        {% if models_data|length %}
        {% for item in models_data %}
        <div>{{item}}</div>
        {% endfor %}
        <div>{{plot_html|safe}}</div>
        {% else %}
        please fill the forms below.
        {% endif %}
        {% endcall %}
    </div>
{% endblock %}